.achives{
    background-image: 
    linear-gradient(#060512, #060512db), url(../img/hero1.jpg);
    padding: 10rem 0;
    text-align: center;
    margin-top: 8rem;

    p{
        color: #ff8800;
    font-size: 2.4rem;
    }

    h4{
        color: rgba(255, 255, 255, 0.774);
        font-size: 1.3rem !important;
    }
}

@media screen and(min-width: 968px) {
   .achives{

    &__wrapper{
        .col-md-3{
            &:not(:last-child){
                border-right: 1px solid #cacacd;
            }
        }

    }
   }
}